<style media="screen">
[ng-drag]{
       -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       user-select: none;
   }
[ng-drop].drag-enter{
    border:solid 5px red;
}
ul li { margin-bottom: 30px; }
.el-dropped {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
</style>

<div class="container-fluid">
    <div class="col-lg-2">
        <ul>
            <li ng-repeat="e in el">
                <div ng-drag="true" ng-drag-data="e" ng-center-anchor="true" ng-center-anchor="true" style="width:50px;height:50px;background:red;">
                    {{ e.content }}
                </div>
            </li>
        </ul>
    </div>
    <div id="user-website" class="col-lg-10" ng-drop="true" ng-drop-success="onDropComplete($data,$event)" style="min-height: 200px; background:#eee !important;">
        <div ng-drag="true" ng-drag-data="e" ng-repeat="e in dropped" ng-style="e.styles" class="el-dropped" ng-bind-html="e.html"></div>
    </div>
    <!-- <iframe width="100%" height="100%" ></iframe> -->

</div>
